body {
	font-family: 'Roboto', sans-serif;
}

nav {
	height: 80px;
}

nav a.btn {
	font-size: 10px;
}

.header {
	margin: 0 !important;
}

.container {
	text-align: center;
}

.card-panel {
	padding: 50px 100px !important;
}

h1 {
	padding: 50px 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 300 !important;
}

p {
	padding-bottom: 50px;
	font-size: 25px;
	padding-top: 20px;
	color: #00C853;
}

p a {
	color: #00C853;
	text-decoration: underline;
}

h3 {
	padding-bottom: 20px;
}

a.btn {
	font-size: 22px;	
}