<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Authentication</title>
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	<link rel="stylesheet" href="/style/style.css">
    	<link href='https://fonts.googleapis.com/css?family=ABeeZee|Cantarell' rel='stylesheet' type='text/css'>
    	<style>
			body {padding-top: 80px;}
    	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Gumscraper</h1>
			<p>Click below to generate a Spotify playlist based on <a href="http://www.stereogum.com/category/franchises/the-5-best-songs-of-the-week/">Stereogum's top 5 songs of the week</a>. <br> If you've run this app before, your existing playlist will be updated.</p>
			<a href="/auth/spotify" class="btn btn-primary"><span class="fa fa-spotify"></span> Make my playlist!</a>
		</div>
	</div>

	<script src="/app/app.js"></script>
</body>
</html>