<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gumscraper</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/style.css">
	<style>
		body{padding-top: 80px; word-wrap: break-word;}
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Your playlist is ready!</h1>
			<h3>Check it out <a href="{{playlistURL}}">here</a> or listen below.</h3>
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aphrichards%3Aplaylist%3A{{playlistID}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

		</div>
	</div>
</body>
</html>
